[2019-12-23 18:25] brunosez opened #2 "error in prepare-data-cls.sh"
replace -outdir by --outdir !
line 10
Rgds

[2019-12-23 18:33] formiel commented on #2
@brunosez Thank you very much for reporting that! I have pushed the fix.

[2019-12-23 18:33] #2 closed

[2020-01-07 13:49] cedspam opened #3 "model on official transformers model repository"
it would be a good thing to have this pretrained model on the official model  repository of transformers

[2020-01-07 14:18] formiel commented on #3
Thanks for your suggestion. We are currently working on it. Hopefully we’ll be able to create a pull request in a few days.

[2020-01-13 09:50] cedspam commented on #3
no need for a pull request in fact just do

[code]
https://huggingface.co/transformers/model_sharing.html
it would be better to have your own official login

[2020-01-13 21:17] formiel commented on #3
@cedspam Thank you very much for pointing that out! We have been working on integrating Flaubert natively into Hugging Face's `transformers`. The pretrained models (note the **s** ;) ) will be hosted on their official repo as well. Please stay tuned!

[2020-01-15 22:30] dataislife opened #4 "dataset in French NLI and STS - like"
Hi,

When getting data from **get-data-xnli.sh** , I notice that most dataset is not in French. Hence, I wonder how you used that in practice?

I am currently looking for a some NLI-like and STS-like datasets in French. That would be great to fine-tune Flaubert!

As a suggestion, translation the English version of NLI and STS to French could be a good option to fine tune Flaubert on such tasks.

[2020-01-16 09:30] formiel commented on #4
Hi @dataislife ,

[XNLI](https://arxiv.org/abs/1809.05053) is the cross-lingual NLI corpus which extends the development and test sets of [MultiNLI](https://arxiv.org/abs/1704.05426) to 15 languages. The training set for each language is machine-translated from the English training set of MultiNLI. The dev and test sets for each language are translated by professional translators (the dev set is t

[2020-01-16 10:49] dataislife commented on #4
Hi @formiel,
Thank you for the quick and detailed answer. I could see that indeed you have much more data than I had with only xnli in French. That is great really!

However, I don't quite get the function **extract_nli.py**. Indeed, I used the bash file **get-data-xnli.sh** . And now, I want to extract the data only for French. I could do it with pandas but I would like to benefit from the same p

[2020-01-16 14:08] formiel commented on #4
Hi @dataislife ,

Thank you for using our code as well! :)

The script ` get-data-xnli.sh` should get the raw data for French exclusively since it handles the language filtering step here.

By running `bash get-data-xnli.sh $DATA_DIR`, you should get:
- In `$DATA_DIR/raw`: 2 folders XNLI-1.0 and XNLI-MT-1.0 (as you already had). This is the raw data downloaded from XNLI.
- In `$DATA_DIR/processed`

[2020-01-17 16:03] dataislife commented on #4
Hi,

Thank you very much for your detailed answer once again. It was very helpful.

I had the following issue:
[code]

I solved it by running bash command as root and modifying the bash file **prepare-data-xnli.sh** to:
[code]

Running this on MAC, may be useful for someone in the future.

Cheers,

[2020-01-17 16:33] QuentinSpalla commented on #4
Hi,
and thanks for this useful topic.

I also modified the prepare-data-xnli.sh to make it work for me.
[code]
However, for the preprocessing to be complete, the preprocess.py file could be useful.
It seems it is not in the folder. Anybody knows if it is necessary ? If yes, what is in it ?

Thanks

[2020-01-17 17:08] dataislife commented on #4
Quick update: It is working fine, except that I have an "L" letter that is included in the first token for each line of the files that contains hypothesis and premises such that for **train.x1** file, I have:

[code]

Obviously this could be handled afterwards but I wonder where it originates from exactly. Any idea is welcome! :)

Cheers,

[2020-01-18 19:24] formiel commented on #4
@dataislife: You don't need to run the script with `sudo`, just run `chmod +x tools/tokenize.sh` to give execute permission to the `tokenize.sh` script (I will update the script to add this line). Alternatively, you can add `bash` as @QuentinSpalla did.

Regarding the **L** issue, it's because macOS `sed` doesn't support the `\L` function. You can replace this [line](https://github.com/getalp/Flau

[2020-01-20 10:58] QuentinSpalla commented on #4
@formiel: Thanks for your adding.
Is it mandatory to use cuda for fine-tuning flauBERT ?

This is my error:
`AssertionError: Torch not compiled with CUDA enabled`

coming from embedder.py:
[code]
Because I don't have it and i would like to do the training on a classical server.

Thanks

[2020-01-20 11:25] formiel commented on #4
@QuentinSpalla : Could you please tell me how you installed PyTorch and on what operating system? Try replacing
[code]
with

[code]

[2020-01-20 14:15] QuentinSpalla commented on #4
@formiel: thanks for your help.

I modified multiple times embedder.py and flue.py in order to make the fine-tuning works on CPU.
Now it is running but it seems slow.
I have an opportunity to use Google Cloud Platform for fine-tuning flauBERT.
Can you advice me which nvidia GPU use, torch version, etc. please ?
And more do you know how many time lasts the fine-tuning on the XNLI corpus ?

Thanks

[2020-01-21 09:20] jourlin opened #5 "1.get_toolkit.sh"
The script failed with :
**No compiler is provided in this environment. Perhaps you are running on a JRE rather than a JDK?**
I managed to fix it with :
`sudo update-alternatives --config java`
and selecting `/usr/lib/jvm/java-11-openjdk-amd64/bin/java` as default

[2020-01-21 10:03] formiel commented on #4
@QuentinSpalla: Yes, the fine-tuning would run much slower on CPU compared to GPU. On one Nvidia Titan X GPU, an epoch (i.e. a pass though the entire dataset) would take ~1.5 hours, and I ran it for 30 epochs.

Regarding PyTorch, I guess you should always use the latest version (currently 1.4.0) but previous versions (1.1-1.3) work just fine.

I don’t have much experience with Google Cloud Platfor

[2020-01-21 11:26] QuentinSpalla commented on #4
@formiel: thanks for all the details, I am gonna try

It will be great, i look forward to seeing that

[2020-01-21 15:02] hzitoun opened #6 "Model name not found or config.json missing"
Transformers version
`2.3.0`
Pytorch version
`1.4`

When running readme.md code
[code]

Output

[code]

Tried downloading the model as tar file (lower and normal), extracting it and putting its absolute folder path as `modelname` but keeps getting the same error....

I may be missing something so stupid but I don't see a `config.json` file in the archive file

![Screen Shot 2020-01-21 at 15 59 09]

[2020-01-21 15:11] mcoavoux commented on #6
Hi,

the archive `flaubert_base_lower.zip` is not directly usable with the `transformers` package, make sure you have downloaded the following archive: https://zenodo.org/record/3567594/files/xlm_bert_fra_base_lower.tar that contains the `config.json` file.

[2020-01-21 15:43] hzitoun commented on #6
Hi, thanks for your quick reply! Now it works :)

Does that mean that only models starting with xlm work with the transformers lib ?

Could we load the Flaubert from `torch.hub` ?

[2020-01-21 15:50] formiel commented on #6
Hi @hzitoun,

We are uploading Flaubert’s pretrained models to Hugging Face’s repo, so very soon you’ll be able to load them in `transformers` without having to download them manually. We will upload them to PyTorch Hub as well, thanks for the suggestion!

[2020-01-21 16:02] hzitoun commented on #6
@formiel that is great!

Are you planning as well to be part of the `fairseq` toolkit? (I don't know if only FAIR researchers can do that).

A bit like what `CamemBERT` guys did. Would give something like:

[code]

Finally, when running the example in readme, I'm getting the following warning:

[code]

Any idea?

Thank you for being so reactive!  Eager to try your model on some semantic search tas

[2020-01-22 13:42] QuentinSpalla commented on #4
@formiel:
I fine tuned the flaubert_base_lower model on the xnli corpus.
Can you tell me where is the new model ? Is it just that the flaubert_base_lower.pth is updated ?

Besides, how can I use the fine-tuned model in order to make sentence embeddings ?

Thanks

[2020-01-22 14:06] dataislife commented on #4
Hi @QuentinSpalla, I suggest you to open a new issue for the question related to sentence embeddings. This could be useful for other people using this tool.

Cheers,

[2020-01-22 23:01] formiel commented on #6
Thanks for the suggestion. That's also planned but unfortunately we have no ETA yet.

We have integrated Flaubert into Hugging Face's `transformers`. Could you please try again by following [this example](https://github.com/getalp/Flaubert#11-using-flaubert-with-hugging-faces-transformers)?

[2020-01-22 23:07] formiel commented on #5
@jourlin Thank you very much for reporting that issue!
@coylz Do you think we should add this to the documentation?

[2020-01-22 23:21] formiel commented on #4
@QuentinSpalla You can download all models from here: https://zenodo.org/record/3622251 (Please note that the base-cased and large-cased models are partially trained, we will upload the fully-trained weights when they are available.)

Could you please be more specific on what you want to get? You may consider opening a new issue as @dataislife has suggested.

[2020-01-22 23:25] formiel commented on #3
@cedspam We have integrated Flaubert into Hugging Face's `transformers`. Please see this [example of usage](https://github.com/getalp/Flaubert#11-using-flaubert-with-hugging-faces-transformers).

[2020-01-23 08:12] loic-vial commented on #5
Hi,
Yes, I will provide more information in the Readme about this :)

[2020-01-23 08:16] schwabdidier commented on #5
My opinion : if someone wonder something, we can consider that someone else will wonder the same and then we can add it to the documentation. Thank you @jourlin

[2020-01-23 09:56] QuentinSpalla opened #7 "Using flauBERT for similarities between sentences"
Hi,

My goal here is to do clustering on sentences. For this purpose, I chose to use similarities between sentence embedding for all my sentences. Unfortunately, camemBERT seems not great for that task and fine-tuning flauBERT could be a solution.

So thanks to @formiel, I managed to fine tune flauBERT on an NLI dataset.
My question is about that fine-tuning. What is the output exactly ? I only go

[2020-01-23 18:13] keloemma opened #8 "*Error in `python3': free(): invalid pointer: 0x000055ae110d8c20 ***** Abandon"
Hello,

I am using Flaubert with huggingface transformers but I am getting negative vectors I do not know why ?

Do you have any idea why ? when using your previous  installation without it the vectors were non negatives.

tensor([[[-0.7107, -1.4737,  0.9828,  ..., -3.1127,  0.3499,  0.3747],
         [-1.7784, -2.2899, -0.3564,  ..., -0.7091, -0.7323,  2.5189],
         [-1.3886, -0.6179, -1.2058

[2020-01-23 20:13] schwabdidier commented on #8
@keloemma Is it a problem to have negative components ? I don't understand the relation between the title (Error in `python3') and the question.

[2020-01-24 10:33] keloemma commented on #8
@schwabdidier  Sorry, I badly write the problem I was encountering, seems the error :  *Error in `python3': free(): invalid pointer: 0x000055ae110d8c20 ***** Abandon #8 was linked to the type of server I was runnning the script. I moved to anther one and run the script and the error desappeared.

[2020-01-24 12:32] #8 closed

[2020-01-26 11:24] formiel commented on #7
Hi @QuentinSpalla,

The current fine-tuning code of XLM does not save the best models (I'm sorry that you spent your time fine-tuning without having a trained model at the end). I did not realise this issue as I only needed the validation scores and prediction files.

I can add some code that allows saving the best model and loading it for computing embeddings. However, since I plan to migrate all

[2020-01-27 08:38] QuentinSpalla commented on #7
HI @formiel

Thank you for your answer. Yes, it could be great using huggingface transformers for flauBERT.

Thanks

[2020-01-27 16:25] keloemma opened #9 "How can I train flaubert on a different corpus (not gutenberg, wiki) but for another domain ?"
Good afternoon,

I tried to follow your instructions to train my own corpus with Flaubert in order to get a model to use for my classification task but I am having trouble understanding the procedure ?

You said we should use this line to train on our preprocessed data :

/Flaubert$ python train.py     --exp_name flaubert_base_lower     --dump_path ./dumped/     --data_path ./own_data/data/     --

[2020-01-27 21:54] formiel commented on #9
Hi @keloemma,

Sorry for the unclear documentation. I have updated the README with detailed [instructions](https://github.com/getalp/Flaubert#31-data) and added scripts for splitting and preprocessing the data. Could you please try again?

[2020-01-29 17:09] keloemma commented on #9
Good afteroon.

Thank you for your reply, I tried the proposed solution and I am getting this error :

INFO - 01/29/20 17:57:17 - 0:00:00 - The experiment will be stored in data/model/flaubert_base_cased/nqp72nh6ph

INFO - 01/29/20 17:57:17 - 0:00:00 - Running command: python train.py --exp_name flaubert_base_cased --dump_path 'data/model' --data_path 'data/processed/fr_corpus/BPE/10k' --amp 1 --l

[2020-01-30 09:01] formiel commented on #9
Hi @keloemma ,

Thanks for reporting the error! Sorry that was a bug. I have fixed it ([line 257-259](https://github.com/getalp/Flaubert/blob/120b9e5e45f20241558da2f0596fa09c6a87cbf8/xlm/model/transformer.py#L257-L259)). Could you please try again?

[2020-01-30 11:02] keloemma commented on #9
thank , you

I am now getting this error :
INFO - 01/30/20 11:58:13 - 0:00:02 - Number of parameters (model): 92501715
Traceback (most recent call last):
  File "train.py", line 391, in <module>
    main(params)
  File "train.py", line 260, in main
    model = build_model(params, data['dico'])
  File "/data1/ho/eXP/Flaubert/xlm/model/__init__.py", line 139, in build_model
    return model.cuda()

[2020-01-30 11:17] formiel commented on #9
@keloemma Could you share the output of `nvidia-smi`?

[2020-01-30 11:25] keloemma commented on #9
On this server : I get this other error :

Warning:  multi_tensor_applier fused unscale kernel is unavailable, possibly because apex was installed without --cuda_ext --cpp_ext. Using Python fallback.  Original ImportError was: ModuleNotFoundError("No module named 'amp_C'",)  plus the one related to the lack of memory in CUDA

![image](https://user-images.githubusercontent.com/40454218/73445757-b07

[2020-01-30 11:47] formiel commented on #9
@keloemma There's too little memory available on your servers. If you aim at obtaining a good, well-trained Flaubert on your data, then maybe you should manage to have the necessary resources first (unfortunately pre-training usually needs a lot of them).

Currently the second GPU of the second server has around 3GB available, so maybe you can try training a tiny model with a small batch size on i

[2020-01-30 11:51] keloemma commented on #9
Thank you, I will try your proposed  solution.

[2020-01-30 16:35] #3 closed

[2020-01-30 16:35] #4 closed

[2020-02-03 10:28] keloemma commented on #9
hello, I am coming back to you and I would like to know if you can help me understand

--epoch_size  and max_epoch; For what I understood max_epoch =epoch ( entire dataset is passed both forward and backward through the neural network only once) but what is epoch_size in your specific case ?

and do Flaubert_tiny equal to flaubert_small_cased ??

and  --stopping_criterion _valid_fr_mlm_ppl,20 \
 d

[2020-02-03 14:52] formiel commented on #9
Hi @keloemma,

`max_epoch` is the maximum number of epochs to be trained. The size of each epoch is not one pass through the entire dataset but it depends on the `epoch_size` parameter.

`epoch_size` is the number of sentences to be passed in each epoch. Since it would take a very long time to process the entire dataset, you may risk not obtaining anything in case there is some problem happened du

[2020-02-04 14:46] penalva34 opened #10 "Little change in the shebang of prepare-data-cls.sh"
Hello,

  could you replace the first line of the script :
`#! bin/bash`

  by
`#!/usr/bin/env bash`

Thanks

[2020-02-05 11:38] keloemma commented on #9
Hello,

I have some questions about the finetuning. For the data using to finetuning how should they look ? It is not clear about the extension.
I am explaining : my data are contained in an excel file with two columns (sentences and labels(I have three))
I am understanding , the command below is supposed to split my data in train and test for the finetuning ?

python flue/extract_split_cls.py --i

[2020-02-05 17:41] keloemma opened #11 "Questions related to the finetuning process of Flaubert on a dataset ?"
I am trying to finetune the model I obtained after training. I some have questions :

1. firstly, the command below  split the original dataset which is obtained with "get-data-cls.sh" :

python flue/extract_split_cls.py --indir $DATA_DIR/raw/cls-acl10-unprocessed
--outdir $DATA_DIR/processed
--do_lower true
--use_hugging_face true,

So when looking at the dataset in the raw directory, I observed

[2020-02-05 23:54] formiel commented on #11
Hi @keloemma,

_Question 1, 2, and 3:_ The goal of the script `extract_split_cls.py` is to prepare data in the proper format for the fine-tuning script. In particular, it extracts the text, get the labels, and split the training set into train and dev sets since there is no dev set provided separately for this task. So you should modify or create your own script to process your data if your data i

[2020-02-06 00:00] formiel commented on #10
Hi @penalva34,

Thanks for your message! I have updated the shebang in all `.sh` script in the `flue` folder.

[2020-02-06 00:00] #10 closed

[2020-02-11 17:17] dataislife opened #12 "Can we encode a document from command line?"
Hi,

Is it possible to have a bash file that is doing the sentence encoding of each line of a given document in an optimised manner?

Hence, if we compute something like the following:
[code]
We could get sentence embeddings for each line of the document from $DATA_PATH/doc.txt.
The assumption is that each line of our document correspond to a given sentence.

Cheers and Good job! :D

[2020-02-12 18:52] keloemma opened #13 "AttributeError: module 'apex' has no attribute 'amp'"
I am getting this error when traning Flaubert.

INFO - 02/12/20 19:50:47 - 0:00:11 - Number of parameters (model): 92501715
INFO - 02/12/20 19:50:51 - 0:00:15 - Before setting SingleTrainer variables.
INFO - 02/12/20 19:50:51 - 0:00:15 - After setting SingleTrainer variables.
INFO - 02/12/20 19:50:52 - 0:00:15 - Found 0 memories.
INFO - 02/12/20 19:50:52 - 0:00:16 - Found 12 FFN.
INFO - 02/12/20 1

[2020-02-12 20:00] keloemma commented on #13
Now after reinstalling it : I get this error

FAISS library was not found.
FAISS not available. Switching to standard nearest neighbors search implementation.
Traceback (most recent call last):
  File "train.py", line 23, in <module>
    from xlm.trainer import SingleTrainer, EncDecTrainer
  File "/home/gekelodjoe/eXP/Flaubert/xlm/trainer.py", line 21, in <module>
    import apex
  File "/home/ge/

[2020-02-13 10:33] formiel commented on #13
Hi @keloemma,

Can you try reinstalling `apex` with CUDA and C++ extensions like [this](https://github.com/nvidia/apex#linux)?

[code]

[2020-02-14 14:26] mananeau opened #14 "Pre-training data for FlauBERT"
Hi all and thanks for open-sourcing Flaubert :)

I'm going through the README, trying to find out on which dataset FlauBERT was trained on but I'm not able to find the information. There's a mention of Gutenberg data in the pre-processing example: is that the data you used?

Thanks a lot in advance!

[2020-02-14 15:21] schwabdidier commented on #14
Hello, thank you for your comment. All information are provided in the arXiv article https://arxiv.org/abs/1912.05372

[2020-02-15 11:54] manueltonneau commented on #14
Merci beaucoup :)

[2020-02-15 11:54] #14 closed

[2020-02-15 21:36] schwabdidier commented on #7
@QuentinSpalla is it ok for you ? we can close this thread now I guess.

[2020-02-15 21:36] #7 closed

[2020-02-15 21:39] schwabdidier commented on #12
@dataislife maybe you can ask your question or have a look  in the transformer GitHub ?

[2020-02-15 21:39] #12 closed

[2020-02-15 21:40] schwabdidier commented on #11
I assume that you got your answer @keloemma ?

[2020-02-15 21:40] #11 closed

[2020-02-15 21:40] schwabdidier commented on #9
I assume that you got your answer @keloemma ?

[2020-02-15 21:40] #9 closed

[2020-02-15 21:43] schwabdidier commented on #6
assume that you got your answer @hzitoun ?

[2020-02-15 21:43] #6 closed

[2020-02-15 21:45] schwabdidier commented on #5
Is it done @coylz ? If yes, please close the issue. If no, you know what to do before you close the issue :)

[2020-02-16 13:27] loic-vial commented on #5
I added a little more info on the Readme (Java JDK needed)

[2020-02-16 13:27] #5 closed

[2020-02-24 12:48] rcontesti opened #15 "Import Error"
Hi I have tried to download Flaubert as described:

[code]

Unfortunately it returns an ImportError:

[code]

[2020-02-24 12:56] formiel commented on #15
Hi @rcontesti,

Please update `transformers` with the below command.
[code]

[2020-02-24 13:03] rcontesti commented on #15
Yes, tried it but I'm getting:

`ERROR: Cannot unpack file C:\Users\RUBENC~1\AppData\Local\Temp\pip-unpack-d48ipzuq\transformers.git (downloaded from C:\Users\RUBENC~1\AppData\Local\Temp\pip-req-build-vbov4_l8, content-type: text/html; charset=utf-8); cannot detect archive format
ERROR: Cannot determine archive format of C:\Users\RUBENC~1\AppData\Local\Temp\pip-req-build-vbov4_l8`

[2020-02-24 13:04] rcontesti commented on #15
I also upgraded with conda. But still not working. It seems as you imply that many models are missing still:

File "C:\Users\Ruben Contesti\AppData\Local\Continuum\Anaconda3\envs\...\lib\site-packages\transformers\configuration_utils.py", line 145, in from_pretrained
    raise EnvironmentError(msg)
OSError: Model name 'flaubert-base-uncased-squad' was not found in model name list (bert-base-uncase

[2020-02-24 13:20] formiel commented on #15
If you obtained errors when upgrading then I think you should ask on the official `transformers` repo. Once you have successfully upgraded, Flaubert should work. There are [4 configurations](https://github.com/getalp/Flaubert#1-flaubert-models) supported by `FlaubertModel` and `FlaubertTokenizer` in `transformers`.

We haven't trained Flaubert for a question answering dataset yet. Maybe you want t

[2020-03-09 10:59] keloemma opened #16 "fast: fastBPE/fastBPE.hpp:458: void fastBPE::readCodes(const char*, std::unordered_map<std::pair<std::__cxx11::basic_string<char>, std::__cxx11::basic_string<char>"
Hello, I am trying to learn BPE codes on my traning set ans I am getting this error  :

fast: fastBPE/fastBPE.hpp:458: void fastBPE::readCodes(const char*, std::unordered_map<std::pair<std::__cxx11::basic_string<char>, std::__cxx11::basic_string<char> >, unsigned int, fastBPE::pair_hash>&, std::unordered_map<std::__cxx11::basic_string<char>, std::pair<std::__cxx11::basic_string<char>, std::__cxx11

[2020-03-09 15:13] keloemma opened #17 "Erreur de segmentationtd::allocator<std::vector<at::Tensor, std::allocator<at::Tensor> > > >, float) + 0x1679"
I want to train again Flauert but I am encountering a new error:

Traceback (most recent call last):
  File "train.py", line 391, in <module>
    main(params)
  File "train.py", line 309, in main
    trainer.mlm_step(lang1, lang2, params.lambda_mlm)
  File "/data1/home/getalp/kelodjoe/eXP/Flaubert/xlm/trainer.py", line 781, in mlm_step
    self.optimize(loss)
  File "/data1/home/getalp/kelodjoe/eX

[2020-03-22 14:20] #13 closed

[2020-03-22 14:21] formiel commented on #15
@rcontesti I'm going to close this issue now. Please feel free to re-open if needed.

[2020-03-22 14:21] #15 closed

[2020-03-22 14:23] #16 closed

[2020-03-22 14:24] #17 closed

[2020-03-23 10:24] king-menin opened #19 "Convert from xlm to Hugging Face"
Hi, i trained my own BERT with your code.
Do you provide code for converting xlm model to Hugging Face model: from checkpoint.pth to pytorch_model.bin and config.json? also class for tokenizer?
Thank you!

[2020-03-23 11:05] formiel commented on #19
Hi,

Thank you for your question! We've just added the code to convert a pre-trained model to Hugging Face. Please refer to the instruction [here](https://github.com/getalp/Flaubert#33-convert-an-xlm-pre-trained-model-to-hugging-faces-transformers).

[2020-03-25 11:31] keloemma opened #20 "RuntimeError: The size of tensor a (68729) must match the size of tensor b (13681) at non-singleton dimension 0"
Hello, I tried to retrain Flaubert from last checkpoint on new data but it seems the size of my input do not correspond to what the system expects ? Do you know perhaps how can I solve it ?

Traceback (most recent call last):
  File "train.py", line 391, in <module>
    main(params)
  File "train.py", line 309, in main
    trainer.mlm_step(lang1, lang2, params.lambda_mlm)
  File "/home/getalp/kelo

[2020-03-27 09:13] #20 closed

[2020-03-28 13:36] x0rzkov opened #21 "tweet sentiment analysis in french"
Hi,

Hope you are all well !

Is it possible with Flaubert to do some tweet sentiment analysis written in french ? If so, how can we do that ?

Vive la France ! :-)

Cheers,
X

[2020-03-28 14:52] schwabdidier commented on #21
Hello,

Yes it is possible, for instance in FLUE (French Language Understanding Evaluation), we use the The Cross Lingual (PrettenhoferandStein,2010) dataset. We obtain the best results on the French part with Flaubert-large.

See the article here https://arxiv.org/pdf/1912.05372.pdf (sections 4.1 and 5.1)

Hope, it helps.

[2020-03-28 14:53] schwabdidier commented on #21
Of course, a similar method can be used with other kind of sentiment analysis.

[2020-03-28 16:31] ghost commented on #21
Thanks for your reply, is there any repository available to test ?

[2020-03-28 16:35] schwabdidier commented on #21
The FLUE part of this GitHub should help you.

https://github.com/getalp/Flaubert/tree/master/flue

Please give us feedback about your work.

[2020-03-28 16:48] ghost commented on #21
Re,

Je vais etre honnete, je ne sais pas vraiment comment faire car je ne suis pas très spécialisé en NLP.

Je peux faire le scraping avec https://github.com/twintproject/twint et l'API.

Je vous ai ajouté sur twitter mais je ne peux pas vous envoyer de message direct pour ne pas polluer l'issue avec mes questions, mon twitter est https://twitter.com/lucmichalski

En tout cas merci pour vos préci

[2020-03-28 16:52] schwabdidier commented on #21
d'accord, si vous voulez mieux comprendre, je vous conseille alors de commencer par un tuto de huggingface, tout est expliqué ici. https://github.com/huggingface/transformers Flaubert est intégré à cette librairie donc ce qui est expliqué pour l'anglais, ne sera pas trop compliqué à adapter au français. Je vous ajoute sur Twitter

[2020-03-28 21:35] formiel commented on #21
Hi @lucmichalski,

If you want to fine-tune FlauBERT for a sentiment analysis task, you can base on the following [section](https://github.com/getalp/Flaubert/tree/master/flue#finetune-1) of the FLUE. There is only a few things to modify if you fine-tune on another task:

1. Data processor: use [existing data processors](https://github.com/formiel/transformers/blob/flue/src/transformers/data/proce

[2020-03-30 08:57] keloemma opened #22 "bug in run_flue.py"
Hi I got this error when running the run_flue.py
from transformers import flue_compute_metrics as compute_metrics
Import Error: cannot import name 'flue_compute_metrics'

I already preinstalled the requirements and update the transformer directory.

[2020-03-30 17:08] formiel commented on #22
Hi @keloemma ,

Please try reinstalling using the following command.
[code]

[2020-03-31 15:41] keloemma commented on #22
thanks, I get this error  :

`` Flaubert$ bash finetuning_flue.sh
                                usage: run_flue.py [-h] --data_dir DATA_DIR --model_type MODEL_TYPE
                   --model_name_or_path MODEL_NAME_OR_PATH --task_name
                   TASK_NAME --output_dir OUTPUT_DIR
                   [--config_name CONFIG_NAME]
                   [--tokenizer_name TOKENIZER_NAME] [--cache_d

[2020-03-31 22:30] formiel commented on #22
Hi @keloemma ,

There are no `num_train_epoch` and `save_steps ` in the `run_flue.py` script. The `num_train_epoch` parameter was replaced by `epochs` and the `steps_per_epoch` parameter was added to control the steps per epoch in case you do not want to pass the whole dataset in one epoch. This also replaced the `save_steps` parameter as well.

Please refer to the script for more details and desc

[2020-04-06 08:45] keloemma commented on #22
Hello @formiel

I got another problem when running the script :

`04/06/2020 10:44:08 - WARNING - __main__ -   Process rank: -1, device: cuda, n_gpu: 2, distributed training: False, 16-bits training: True
Traceback (most recent call last):
  File "/home/transformers/examples/run_flue.py", line 795, in <module>
    main()
  File "/home/transformers/examples/run_flue.py", line 750, in main
    cache

[2020-04-06 12:52] JbRemy opened #23 "Enronsent usage"
Hi,

I am trying to reproduce the dataset you used for FlauBERT.
How did you use Enronsent which seams to be in English ?

Thank you in advance.

[2020-04-07 07:07] JbRemy opened #24 "Typo in corpus download"
https://github.com/getalp/Flaubert/blob/3fa2d85a791363658904dd1902ff1ea9668a9663/download.sh#L104

The corpus variable is referenced as $cp, and should be changed to $corpus.

[2020-04-08 14:52] formiel commented on #24
Thank you very much for reporting! It has been fixed.

[2020-04-08 14:52] #24 closed

[2020-04-08 15:44] formiel commented on #23
Hi @JbRemy ,

I've already answered you by email, but let me give an explanation here in case somebody needs in the future. Enronsent is originally in English. It was translated in a previous project of our team using phrase-based machine translation.

Please note that this corpus is rather small compared to the rest so I think it won't have any measurable impact on the results.

[2020-04-08 15:44] #23 closed

[2020-04-08 15:53] formiel commented on #22
Hi @keloemma,

Can you please replace the file `run_flue.py` by the new [version](https://github.com/formiel/transformers/blob/flue/examples/run_flue.py) that I just pushed and try running the code again?

[2020-04-23 10:16] keloemma commented on #22
I reload and retry but still got the same error ?
``04/23/2020` 10:19:32 - WARNING - __main__ -   Process rank: -1, device: cuda, n_g, 16-bits training: True
Traceback (most recent call last):
  File "transformers/examples/run_flue.py", line 782, in <module>
    main()
  File "transformers/examples/run_flue.py", line 737, in main
    cache_dir=args.cache_dir if args.cache_dir else None,
  File "/h

[2020-04-23 14:03] loic-vial commented on #22
Hi @keloemma, I am not sure but I think that your error is because the data that you're using are not encoded in UTF-8. Maybe check your data to be sure that it is all valid UTF-8 characters ?

[2020-05-13 13:07] jchwenger opened #25 "Datasets: EnronSent, Le Monde, PCT"
Hi,

First of all, thanks a lot for this set of tools, a boon for French language modelling!

Reading your paper, I've been wondering about some dataset choices:
- the EnronSent seems to be only in English, why did you include it?
- I guess it's probably a no no, but is there any chance the two datasets from *Le Monde* and PCT might be released in some form or other?

Thanks in advance!

[2020-05-13 13:22] schwabdidier commented on #25
For EnronSent, please see issue #23

For PCT, you can certainly find more info here (it is "free of charge for academic and private research institutions for re- search purposes only") https://www.researchgate.net/publication/303647463_COPPA_V20_Corpus_Of_Parallel_Patent_Applications_Building_Large_Parallel_Corpora_with_GNU_Make

Le Monde is distributed by ELRA/ELDA

[2020-05-13 13:56] jchwenger commented on #25
That clarifies it all, many thanks for your reply!

[2020-05-13 13:56] #25 closed

[2020-06-16 21:41] Khasir opened #26 "Model names"
The example in the readme for running with the Hugging Face library reads:
[code]
but these don't work for me. Instead, what worked was:
[code]

[2020-06-17 11:22] Mehdi07 opened #27 "fastBPE"
Hello,

Is it normal that the fastBPE folder is empty? That's why I got an error in prepare-data-pawsx.sh.

[2020-06-17 13:22] formiel commented on #26
Thanks @Khasir for raising this issue!

Indeed, since `transformers` 2.11.0, one has to use the full path to models. I have just updated the README to highlight the changes.

[2020-06-17 13:22] #26 closed

[2020-06-17 13:25] formiel commented on #27
Hi @Mehdi07,

You should install fastBPE in the `./tools` directory as instructed in the [README](https://github.com/getalp/Flaubert#install-dependencies). Please let me know if it works for you.

[2020-06-17 13:26] #19 closed

[2020-06-17 13:26] #21 closed

[2020-06-17 13:26] #22 closed

[2020-06-17 14:45] Mehdi07 commented on #27
Hello,

I installed fastBPE and everything is working fine, I am fine-tuning the model on XLM data.

But now I'd like to specialize Flaubert on my dataset. I have about 1000 lines, how can I do it?

Should I open a new issue to talk about this?

[2020-06-17 14:46] Mehdi07 commented on #27
Hello,

I installed fastBPE and everything is working fine, I am fine-tuning the model on XLM data. Thank you!

[2020-06-18 09:41] saharghannay opened #28 "weird results on new task using flaubert-large-cased model"
I was runing the token classification example her : https://github.com/huggingface/transformers/blob/master/examples/token-classification/run.sh with flaubert-large-cased as model name.

I tried to use the downloaded model from https://huggingface.co/flaubert models, but after 100 epochs the results are very bad, the model did not learn any thing.
I Don't understand what is the problem with flaube

[2020-06-30 16:35] Tixierae opened #29 "Update about the coming soon FLUE tasks"
Hi! Thank you for your open source initiative, and for creating FLUE. I was wondering if you could provide us with an update about when the the code and data will be released for the following tasks, which are listed as 'coming soon' on the website:

5.1. Verb Sense Disambiguation
6. Named Entity Recognition
7. Question Answering

We are developing our own language model and would like to evaluate

[2020-07-02 23:42] #27 closed

[2020-07-02 23:49] formiel commented on #29
Hi @Tixierae,

Thank you for your interest in the FLUE benchmark!

Regarding NER and QA, we unfortunately haven't been able to work that out yet. I hope I can find some time to work on this over the next months. To avoid confusion, I will remove them from the README, sorry about that!

Regarding Disambiguation, @loic-vial could you please help on this?

[2020-07-03 05:49] VSegonne commented on #29
Hi,
Regarding VSD,
This will be available in the next few weeks.
Best regards,
VS

Le ven. 3 juil. 2020 à 01:49, formiel <notifications@github.com> a écrit :

[2020-07-03 08:20] Tixierae commented on #29
Thank you both for the quick replies and the updates! We will stay tuned!

[2020-07-10 18:55] divkakwani opened #31 "Pretraining with News Crawls by WMT 19"
I have a query regarding regarding your training corpus.

The News Crawl corpora that you use are both shuffled and de-duplicated. However, the corpora used by other models like BERT, RoBERTa etc. use a non-shuffled corpus where each document within the corpus is also demarcated with a empty line. Now with this un-shuffled form, when you create training instances, you will end up with contiguous s

[2020-07-19 11:33] formiel commented on #28
@saharghannay Following our discussions by emails, I would need to run the examples above to find out what's wrong. Please stay tuned for updates.

[2020-07-19 11:47] formiel commented on #31
Hi @divkakwani,

Sorry for the late reply. That is a great remark.

If Next Sentence Prediction (NSP) is included, then using individual (non-contiguous) sentences hurts the performance (as shown by the RoBERTa paper). In Flaubert, however, we didn't use NSP, so I guess the difference (if any) is small, but obviously we need experiments to confirm this. Furthermore, please note that News Crawl is

[2020-10-05 15:59] LisaBanana opened #32 "Finetuning on FLUE"
Hi !
I would like to finetune Flaubert on FLUE task with hugging face library. I downloaded the PAWS datas and use the code you gave on your github repo but I have this error message I can't go through :
![image](https://user-images.githubusercontent.com/48214320/95102947-4d35d700-0734-11eb-81ea-8edd04f81511.png)

any idea on what to do ?

Thanks for this project by the way, him looking forward to

[2020-10-06 08:50] LisaBanana commented on #32
Ok, I went through this by writting "encoding = 'utf-8' on line 61 of extract_pawsx.py :
            with open(os.path.join(outdir, splts[s][idx]), 'w') as f_out: (old)
            with open(os.path.join(outdir, splts[s][idx]), 'w', encoding = 'utf-8') as f_out: (new)

Anyway, this could be usefull for future users of flue whith hugging face library given script.

[2020-10-06 16:39] formiel commented on #32
Hi @LisaBanana,

Thanks a lot for your interest! I'm glad that you made it work for you. I'm going to update the code with your fix.
Please do not hesitate to let me know if there are further issues.

Have a nice day!

[2020-10-07 07:28] LisaBanana commented on #32
Hi @formiel ! Thanks for your message, actually I do have a new issue. So, I'm trying to finetune Flaubert on th MRPC Glue task, my command line is :
 python C:/Python/Python36/Lib/site-packages/transformers/examples/text-classification/run_glue.py
                     --data_dir ~/Data/FLUE/pawsx/processed/
                     --model_name_or_path flaubert/flaubert_base_cased

[2020-10-07 09:31] formiel commented on #32
Hi @LisaBanana,

Could you please try looking at the file `train.tsv` in `~/Data/FLUE/pawsx/processed/` to see if it has the following format (5 columns)? And please notice to use the following [command](https://github.com/getalp/Flaubert/tree/master/flue#preprocess-data-3) when fine-tuning with HuggingFace's transformers library (not the bash command for fine-tuning using XLM's library).

[code]

[2020-10-07 09:57] LisaBanana commented on #32
My file is on this format so it's good :
![image](https://user-images.githubusercontent.com/48214320/95315527-e7ac2c80-0892-11eb-96f2-48f16c72ad42.png)
It's also on the right path (the error doesn't say "file not found" or something like that + when I print the path from the glue.py file it gives me the right path. I use the command for hugging face :
![image](https://user-images.githubusercontent

[2020-10-07 10:31] formiel commented on #32
That’s strange… I’ve tried again the pipeline, with the latest version of transformer, and it works.

I would suggest to clone the transformers repo and install it in editable mode (`pip install -e .`, make sure to `pip uninstall transformers` first), so that you can debug more easily. For example, you can add some prints in `run_glue.py` to check the length of the variable `line` to see why it’s

[2020-10-07 14:22] LisaBanana commented on #32
It still doesn't work, I tried to reinstall everything in an other virtual env but still. Would you mind sharing a requirements.txt with the versions of your libraries / packages ? I really don't understand what's wrong with what I do ...

[2020-10-08 16:18] LisaBanana commented on #32
Ok, thanks to my genius co-worker, we've got it ! The tsv file as it was processed (from the script you provide on the repo, which is strange btw if you don't have the same issues I encountered) had some unexpected "/n" and it was the reason why everything was brpken. Anyway, thanks for your help before :)

[2020-10-09 13:58] AmauryLepicard commented on #32
Hi there, I'm a colleague of LisaBanana, and we managed to make the whole thing work!

Unfortunately, it seems that the training will take 140 hours. Is this expected?

ii'm using transformers 3.3.1 and running on a Tesla k80 GPU.

![Screenshot 2020-10-09 155558](https://user-images.githubusercontent.com/6266389/95591831-1e777380-0a48-11eb-8a67-b8986f07a081.png)

Here is the command i'm using:

`p

[2020-10-09 15:29] formiel commented on #32
Hi @LisaBanana,

Sorry I was a little bit overwhelmed during the last few days and forgot to answer you. I'm glad that it worked for you. That's strange, the line break is `\n` in my file. Could you please let me know which OS you are using?

Hi @AmauryLepicard,

Thanks for your help to make the code run previously!

Oh I think that's not expected. However, I think your training should take around

[2020-10-09 15:43] AmauryLepicard commented on #32
Actually I'm not the "genius coder", he was another of our colleagues :-)

It would be 19h if it was 2.65 steps per second, but it is the opposite, 2.65 seconds per step!
I started the training for 13 epochs which would bring us to Monday morning, and we'll see what happens.
If you try it on your machine, how fast is it?

[2020-10-09 16:12] formiel commented on #32
Hi @AmauryLepicard,

Oh sorry for my mistake. So thanks for your interest!

Oops, that's right. The code displays number of steps per second on my side, so I overlooked and thought it's the same case for you (maybe because I'm using transformers version 3.0.2). Training it on 2 Quadro P6000 GPUs with per-gpu batch size as yours takes me around 22 hours. Assuming the training time is scaled linearl

[2021-02-15 21:21] xiaoouwang opened #33 "Filling masks"
Bonjour bonjour ! Merci d'avoir partagé le modèle !

Dans Camembert il est assez facile de deviner un mot à partir du contexte, y a-t-il un working example dans Flaubert ?

Merci d'avance !

[code]

[2021-02-18 22:17] formiel commented on #33
Bonjour,

Merci pour votre intérêt à Flaubert ! Et désolé pour le retard.

Vous pouvez utiliser `transformers` pour cette tâche comme suivant :

[code]

Résultat :
[code]

[2021-02-18 23:14] xiaoouwang commented on #33
Merci de votre réponse ! Je clos le issue :D

[2021-02-18 23:15] #33 closed

[2021-03-19 06:10] kruthikakr opened #34 "Using the Flaubert for Translation"
Hi ..If i need to use the Falubert for French to English translation ? what is the approach.

[2021-03-19 08:05] besacier commented on #34
hi, Flaubert is a Roberta-like model, so this is not necessarily well suited to pre-train a Fr-to-En MT system...even if you could try to pre-train the French encoder with FlauBERT for instance.... If your goal is NMT pre-training i'd rather advice you to use a pre-trained sequence-to-sequence model such as mT5 or mBART

[2021-03-29 15:06] xiaoouwang commented on #33
Juste par précaution s'il y a d'autres personnes qui tombent sur cet issue, l'option topk est maintenant top_k

[2021-03-29 15:44] schwabdidier commented on #33
Bonne idée de le préciser. Merci

[2021-04-24 15:11] keloemma opened #35 "RuntimeError: [enforce fail at CPUAllocator.cpp:64] . DefaultCPUAllocator: can't allocate memory: you tried to allocate 237414383616 bytes. Error code 12 (Cannot allocate memory)"
## Environment info

## Environment info

- `transformers` version: 2.5.1
- Platform: linux
- Python version: 3.7
- PyTorch version (GPU?): 1.4
- Tensorflow version (GPU?):
- Using GPU in script?: no
- Using distributed or parallel set-up in script?: no

### Who can help

Model I am using (FlauBert):

The problem arises when trying to produce features with the model, the output which is generated

[2021-04-26 13:55] #35 closed

[2021-04-26 13:55] keloemma commented on #35
I found the solution.

[2021-04-26 14:18] schwabdidier commented on #35
May you indicate what was the problem ? (For people who could experiment the same problem). Thanks in advance,

[2021-04-26 14:57] keloemma commented on #35
It was a problem link to "insufficient memory or space when using the model". I passed along small batches to the model to avoid this error: and i create a loop that goes over the I in range(0, len(padded), batch_size) and passes along the padded[i: i+batch_size] to the model, then concatenated the predictions back together.

[2021-10-06 20:50] yongzx opened #36 "Different Categories for CLS dataset for French"
I am using Huggingface datasets for FLUE benchmark, and the CLS datasets are grouped together instead of being separated into different categories of "Books", "DVD", and "Music".

What's the best way of splitting the CLS datasets into different subsets?

[2021-10-08 11:12] formiel commented on #36
Hi @yongzx

Thank you so much for your interest in FLUE! I'm not familiar with HuggingFace's `datasets` but I think we can get separate categories by doing something like this.
- Add a field for `category` in [line 107](https://github.com/huggingface/datasets/blob/03b7f123cc17afc517c0aa2f912bbd90cb266185/datasets/flue/flue.py#L107): `text_features={"text": "text", "category": "category"},`
- And a

[2021-10-09 00:07] yongzx commented on #36
Actually this works!!

The code would be
[code]
where `/path/to/dir/flue` contains the modified `flue.py`. Thanks!!

[2021-10-09 00:07] #36 closed

[2021-11-30 09:06] mcriggs opened #37 "Extracting word embeddings from FlauBERT"
Hello,

I would like to use FlauBERT to investigate semantic ambiguity in eighteenth-century French. To do so, I would like to extract the word embeddings of a specific keyword from a large group of different sentences in which the keyword was used and visualize those word embeddings. I have been able to extract and visualize word embeddings using BERT (after having looked at various online tutori

[2021-12-05 23:03] formiel commented on #37
Hello @mcriggs,

Thank you for your interest in FlauBERT and sorry for my late response!

To generate the embeddings for FlauBERT, you can use either the HuggingFace's `transformers` library or `XLM` one. We provided examples for doing so in [here](https://github.com/getalp/Flaubert#2-using-flaubert).

To continue training FlauBERT on your own corpus, you can run the [following](https://github.com

[2021-12-06 10:41] mcriggs commented on #37
Thank you for your helpful response!
I have a follow-up question. If I were looking to extract the word embedding for a particular word (say, for example, the word "chat" in the example you provide), would it make sense to do that as follows:

[code]

[2021-12-08 14:31] #37 closed

[2021-12-22 18:17] mcriggs opened #38 "Will lemmatization negatively affect FlauBERT word embeddings?"
Hello!

I am using FlauBERT to generate word embeddings as part of a study on word sense disambiguation (WSD).

The FlauBERT tokenizer does not recognize a significant number of words in my corpus and, as a result, segments them. For example, the FlauBERT tokenizer does not recognize the archaic orthography of some verbs. It also does not recognize plural forms of a number of other words in the co

[2021-12-29 10:16] formiel commented on #38
Hi @mcriggs. Sorry for the late reply!

@loic-vial @TCMVince Could you please help me on this issue? Unfortunately I'm not familiar with WSD :(

[2021-12-29 11:51] VSegonne commented on #38
Hey,
Sorry for the late reply, it's a busy time of the year !

I haven't really faced that problem before so I can only provide answers based on my humble intuition.

1) Just a simple clarification : can you explain why segmentation would be a problem in your setup ?
Segmentation is part of the BERT tokenizer relying on the use of the BPE encoding. As a result, many words will be segmented, not on

[2021-12-29 14:24] mcriggs commented on #38
@TCMVince and @formiel Thank you both for your willingness to help! I really appreciate it!

@TCMVince, segmentation is a problem for the project I'm working on because the plural form of the word my research focuses on -- 'baroque' -- gets broken up into two parts.

Let me give you a specific example of what the FlauBERT tokenizer does. Take the sentences "Il aimait la perle baroque." and  "Il ai

[2021-12-30 17:44] VSegonne commented on #38
As for the segmentation, one usual way to recover embeddings consists in summing/averaging the contextual vectors of the corresponding BPE tokens from split words.

Using your example :
['il', 'aimait', 'les', 'perles', 'bar', 'oques', '.']
[0, 41, 9138, 22, 11211, 2214, 40208, 16, 1]
This would mean to sum/average the representations of 2214 and 40208. One way to do this is to keep track of the B

[2021-12-30 19:49] mcriggs commented on #38
@TCMVince That does help indeed! Thank you!

Thank you as well for pointing me to that other code. Unfortunately, I couldn't really make sense of it. (My coding skills are pretty basic...) But I was able to tweak what I already had and it seems to work. I can just do:

[code]

That seems to work. I'll give that a try. I'll also compare the results with a lemmatized version of my texts and will let

[2021-12-30 19:53] mcriggs commented on #38
@formiel I'm very interested in further training FlauBERT on a corpus of eighteenth-century French. If you have any sense of how big a corpus I would need I would really appreciate it!
Thank you!

[2021-12-30 20:08] VSegonne commented on #38
I'm glad I could help ;)

[2021-12-31 10:04] formiel commented on #38
Thanks a lot @TCMVince for your help!

@mcriggs  Some previous work (https://arxiv.org/abs/1908.04812) has shown the benefit of continued pre-training on in-domain data using 0.5M examples. Maybe you could try a corpus of similar size or you could try out different amount of data to investigate the impact of continued pre-training on domain-specific data (I would say the more data the better). You

[2021-12-31 13:54] mcriggs commented on #38
@formiel Thank you!! This is all very helpful. :)

[2022-02-04 12:34] #38 closed

[2022-02-08 12:30] mcriggs opened #39 "Pre-training FlauBERT with Google Colab?"
Would it be possible to pre-train Flaubert (as described here https://github.com/getalp/Flaubert#3-pre-training-flaubert) in Google Colab? If so, would you be able to give me some advice on converting the code you supply so that it works in Colab?

Thank you in advance for your time. :)

[2022-02-08 12:54] schwabdidier commented on #39
definitely, it depends on corpus size. You will find exact values in the article but for 71 Go of text (see https://arxiv.org/pdf/1912.05372.pdf) :

FlauBERTBASE is trained on 32 GPUs Nvidia V100 in 410 hours ( = 546 days) and FlauBERTLARGE is trained on 128 GPUs in 390 hours (=2080 days). It is too huge for google collab

If it is a specialized corpus, consider starting from one Flaubert model an

[2022-02-09 07:34] mcriggs commented on #38
@TCMVince I did a little disambiguation experiment with lemmatized versus non-lemmatized text. You asked me to keep you posted on this, so here is a quick overview. :)

I used just over a hundred sentences from eighteenth-century texts all of which included the same polysemous nous. The noun I used was "civette." "Civette" was used as a word for a small feline-like animal ("civet" in English), an

[2022-02-09 07:36] mcriggs commented on #39
@schwabdidier Thank you for your prompt response!

I should have been more specific when I posed my question. I want to do further training on the flaubert-large-cased model with a corpus of lemmatized eighteenth-century French text. (I corresponded a bit with @TCMVince and @formiel about this already.) I don't yet know the exact size of this corpus. (The corpus will include the eighteenth-century

[2022-03-22 12:32] #39 closed

[2022-03-22 17:35] mcriggs opened #40 "Continued training of FlauBERT (with --reload_model) -- Question about vocab size"
Hello. :)

I would like to use the "--reload_model" option with your train.py command to further train one of your pretrained FlauBERT models.

Upon trying to run train.py with the  "--reload_model" option I got an error message saying that there was a "size mismatch" between the pretrained FlauBERT model and the adapted model I was trying to train.

The error message referred to a "shape torch.Si

[2022-04-15 09:54] ArthurVanSchendel opened #41 "Import error in extract_split_cls.py - No module name tools"
File "extract_split_cls.py", line 14, in <module>
    from tools.clean_text import cleaner
ModuleNotFoundError: No module named 'tools'

Hello, I have this error message when trying to execute the extract_slit_cls.sh script. I tried conda install tools, but it does not seem to exist. What is the name of the package I need to install ? Thank you!

[2022-04-15 11:26] #41 closed

[2022-04-15 11:27] ArthurVanSchendel commented on #41
Realized the tools library is in the github, I don't understand why it does not recognize it, I will search on it.

[2022-04-15 12:10] ArthurVanSchendel opened #42 "From pytorch model (with hugging_face library) to XLM model"
Hello,

I have a problem currently regarding the finetuning of Flaubert on FLUE. I have a model that I re-trained with custom data, so I have new weights for it, and I currently have it as .json file and .bin files. However, when I want to finetune this model on FLUE tasks, they ask me for vocab and codes files from pretraining, that I don't have when using the hugging face library. I see that the

[2022-05-14 16:22] Kouakouhermann67 opened #43 "D'euro j'dis là du son dis bdia d dis fin dis djaifbfl j'dis. L'as bais. Eiabduua bsujsvd"

[2022-05-14 16:29] #43 closed

[2022-05-24 06:21] ExtReMLapin commented on #43
on est d'accord

[2022-06-21 07:49] ExtReMLapin opened #44 "Example de paraphrase"
Bonjour,
Dans la documentation de Flaubert, il est fait mention de la possibilité de paraphraser.
Auriez-vous un exemple de code à utiliser pour, par exemple, d'une phrase en générer une dizaines de similaires ?

Merci

[2022-11-01 12:34] formiel commented on #40
Hello @mcriggs !

I'm so sorry for the extremely late reply! I had been on a very long leave of several months and then when coming back to work, I have been overwhelmed by deadlines. I'm not sure if my response is still useful to you now but let me try anyway.

In order to use the `--reload_model` option, you need to have the same vocabulary size. If you want to skip loading the embedding layer,

[2022-11-01 15:51] formiel commented on #42
Hello @ArthurVanSchendel !

I'm really sorry for the very late reply! I had been on leave for several months and have been quite overwhelmed after coming back to work. I'm not sure if my response is helpful to you at the moment but I think HuggingFace `datasets` repo offers [fine-tuning on FLUE](https://github.com/huggingface/datasets/pull/943), so maybe you don't need to do the conversion?

Pleas

[2022-11-02 09:36] formiel commented on #44
Hello @ExtReMLapin !

I'm sorry for my very late response! The [paraphrasing task in FLUE ](https://github.com/getalp/Flaubert/tree/master/flue#2-paraphrasing-paws-x)(French Language Understanding Evaluation benchmark that we proposed together with FlauBERT) is a paraphrase identification task in which the model learns to distinguish whether a given pair of sentences are semantically equivalent or